<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authentication {{ 'Failed' if error else 'Success' }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
<script type="text/javascript">
    var targetOrigin = {{ targetOriginJson | safe }};
    if (window.opener && targetOrigin) {
        window.opener.focus();
        // only the page at `security.oauthTargetOrigin` receives the session
        window.opener.postMessage({{ payloadJson | safe }}, targetOrigin);
    }
    window.close();
</script>
</body>
</html>